.header-1-2 {
    margin-top: -6%;
}

.top-half-left {
    margin-top: 5%;
    margin-left: 5%;
}

.top-half-right {
    margin-top: 5%;
    margin-left: -5%;
}

.content .row .col .clapper {
    width: 400px;
    height: 400px;
}

.header-1-1, .header-1-2,
.header-2, .header-3 {
    font-family: 'lemonmilkregular', sans-serif;
    color: #098993;
    text-shadow: 2.75px 2.5px #ffcb9f;
    font-size: 3em;
    text-align: center;
    letter-spacing: 7px;
}

.header-2 {
    color: #ff9591;
    text-shadow: unset;
    font-size: 2em;
}

.body-text {
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    font-size: 17px;
    font-weight: 600;
    text-indent: 20px;
    letter-spacing: 2px;
}

.header-desc {
    padding-left: 40px;
    padding-right: 40px;
}

.poster-img {
  position: relative;
  width: 400px;
  height: 400px;
}

.poster {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.poster-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 400px;
  opacity: 0;
  transition: .3s ease;
}

.poster:hover .overlay img{
  opacity: 1;
}

.header-3 {
  color: #098993;
  text-shadow: unset;
  font-size: 2em;
}

.col-judge {
  margin: 0 auto;
  text-align: center;
}

.judge-image {
  width: 250px;
  height: 250px;
}

.judge-desc {
  font-family: 'lemonmilkregular', sans-serif;
  margin-top: -7%;
}

@media only screen and (max-width: 1024px) {
  .clapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}