#header, #content, #footer {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/clodualdo_del_mundo.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

.winner-link {
    position: relative;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .winner-link img {
        display: block;
        width: 100%;
    }
}

.winner-link img {
    display: block;
    max-width: 100%;
}

.winner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.winner-overlay span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.winner-overlay:hover {
    opacity: 0;
    transition: opacity 0.75s ease;
}

