#header, #content, #footer {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/clodualdo_del_mundo.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
}

#carouselSlideshow {
    position: relative;
}

#carouselSlideshow img {
    height: 600px;
    opacity: 0.9;
}

.overlay {
    position: absolute;
    top: 0;
    left: 1.25%;
    max-width: 97.5%;
    width: 100%;
    height: 100%;
    background: #228a6b;
    opacity: 0.3;
}

.overlay-caption {
    position: absolute;
    top: 27%;
    left: 11.5%;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 2px 2px black;
}

.slideshow-header {
    text-align: center;
    letter-spacing: 6px;
    font-size: 3em;
    font-weight: 700;
}

.slideshow-desc {
    margin-top: 3%;
    text-align: justify;
    width: 900px;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.category-div {
    margin-left: 2%;
}

.category-header, .award-header {
    margin-bottom: -2%;
    text-align: center;
    font-family: 'lemonmilkregular', sans-serif;
    color: #ff9591;
    text-shadow: 2.25px 2px #098993;
    font-size: 3em;
}

.category-header {
    margin-top: 5%;
}

.category-top, .category-bottom {
    margin-right: 5%;
    padding: 0;
}

.category-top {
    margin-top: -3%;
}

.category-bottom {
    margin-top: -15.5%;
}

.category-top img, .category-bottom img {
    width: 400px;
    height: 370px;
}

.major-div, .special-div {
    margin: 0 auto;
    margin-top: 3%;
    font-family: 'Titillium Web', sans-serif;
    width: 200px;
}

.major-div li, .special-div li {
    list-style-type: none;
    font-weight: 700;
}

.major-header, .special-header {
    font-family: 'lemonmilkregular', sans-serif;
    font-size: 1.5em;
    color: #ffcb9f;
}

.major-header + p {
    width: 400px;
}