@charset "ISO-8859-1";

.navbar .navbar-brand .header-logo{
	object-fit: cover;
	width: 45px;
	height: 45px;
	margin-left: 0.5em;
}

.navbar-custom,
.navbar-custom .navbar-collapse .navbar-nav .dropdown .dropdown-menu{
	background-color: #231d1e;
	box-shadow: 0px 2px 5px gray;
}

.navbar-header {
	padding: 0;
}

.navbar-custom .navbar-collapse .navbar-nav {
	height: 100%;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item {
	padding-left: 2em;
	padding-right: 2em;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item,
.navbar-custom .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item  {
	background-image: linear-gradient(#ff9591, #ff9591);
	background-position: bottom left;
	background-size: 0% 2px;
	background-repeat: no-repeat;
	transition: background-size 1s, background-position 0s 1s;
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: medium;
	font-weight: bold;
	letter-spacing: 1.5px;
	word-spacing: 1px;
}

.navbar-custom .navbar-collapse .navbar-nav .nav-item:hover,
.navbar-custom .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
	background-position:bottom right;
  	background-size:100% 2px;
}

.navbar-custom .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
	background-color: #231d1e;
}

.navbar-footer {
	box-shadow: 0px -2px 5px gray;
}

.navbar-footer .navbar-nav .nav-item {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-footer .navbar-nav .nav-item img {
	object-fit: cover;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background-color: #231d1e;
}