<!DOCTYPE html>
<html lang="en">
<head>
	<title>Indie Un-Film Festival</title>
	<meta charset="ISO-8859-1">
	
	<!-- Bootstrap mobile-responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Favicon -->
	<link rel="icon" href="assets/icons/iuf-icon.ico" type="image/x-icon" sizes="32x32">

	<!-- Bootstrap CSS and custom CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" href="css/template.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900&display=swap" rel="stylesheet">
</head>
<body style="background: url(assets/images/iuf-background.png); background-size: cover">

	<!-- Header -->
	<!-- Remove fixed-top class -->
	<section class="header">
	<nav class="navbar navbar-expand-md fixed-top navbar-custom d-flex flex-fill navbar-header">
	  <a class="navbar-brand ml-1" href="index.html">
		<img class="header-logo" alt="iuf_logo_brand" src="assets/icons/large.png"/>
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse d-flex justify-content-end" id="collapsibleNavbar">
		<div class="navbar-nav">
			<div class="dropdown">
				<a class="nav-item nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ABOUT</a>
					<div class="dropdown-menu" aria-labelledby="aboutDropdown">
						<a class="dropdown-item" href="festival.html">THE FESTIVAL</a>
						<a class="dropdown-item" href="iuf2020.html">IUF 2020</a>
					</div>
				</div>
			<a class="nav-item nav-link" href="iuf2019.html">2019 WINNERS</a>
			<a class="nav-item nav-link" href="guidlines.html">GUIDELINES</a>
			<a class="nav-item nav-link" href="howtoenter.html">HOW TO ENTER</a>
			<a class="nav-item nav-link" href="faqs.html">FAQS</a>
		</div>
	  </div>
	</nav>
	</section>

	<!-- Content -->


	<!-- Footer -->
	<!-- Remove fixed-bottom class -->
	<section class="footer">
	<nav class="navbar navbar-expand-sm fixed-bottom d-flex justify-content-center flex-fill navbar-custom navbar-footer">
		<div class="navbar-nav d-flex justify-content-center">
			<a class="nav-item nav-link" href="https://www.facebook.com/GreenMediaGroup/"><img alt="facebook_icon" src="assets/icons/facebook.png" /></a>
			<a class="nav-item nav-link" href="https://www.intagram.com/dlsugmg/"><img alt="instagram_icon" src="assets/icons/instagram.png" /></a>
			<a class="nav-item nav-link" href="https://www.twitter.com/dlsuGMG/"><img alt="twitter_icon" src="assets/icons/twitter.png" /></a>
			<a class="nav-item nav-link" href="mailto:gmg@dlsu.edu.ph?subject=IUF 2020 Inquiry"><img alt="email_icon" src="assets/icons/email.png" /></a>
		</div>
	</nav>
	</section>

	<!-- jQuery, Poppers.js, and Bootstrap.js -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Javascripts -->
</body>
</html>